﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.2-web/css/all.css" />
    <link rel="stylesheet" href="~/DoAnCoSoWeb.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.list-item > a').click(function (e) {
                e.preventDefault();
                $(this).next('ul').slideToggle();
            });
        });
    </script>
</head>
<body>
    <div class="container-admin">
        <main class="Admin-home">
            <nav class="menu-admin-home" id="admin">
                <div class="title-menu-admin">
                    <h1 class="title-admin">Quản Lý</h1>
                </div>
                <ul class="list">
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý sản phẩm">
                            Quản lý sản phẩm
                        </a>
                        <ul>
                            <li><a href="danh-sach-san-pham">Danh Sách Sản Phẩm</a></li>
                            <li><a href="#">Thêm Sản Phẩm Mới</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý đơn hàng">
                            Quản lý đơn hàng
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý danh mục">
                            Quản lý danh mục
                        </a>
                        <ul>
                            <li><a href="#">Danh Sách Danh Mục</a></li>
                            <li><a href="#">Thêm Danh Mục Mới</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý doanh thu">
                            Quản lý doanh thu
                        </a>
                        <ul>
                            <li><a href="#">Doanh Thu Tháng</a></li>
                            <li><a href="#">Doanh Thu Năm</a></li>
                        </ul>
                    </li>
                    <li class="list-item">
                        <a class="a-admin" href="#" title="Quản lý email liên hệ">
                            Quản lý email liên hệ
                        </a>
                    </li>
                </ul>
            </nav>
        </main>
        <div class="container-pagebody">
            <div class="content-pagebody">
                <div class="page-header">
                    <h3 class="page-title">Trang Quản Trị</h3>
                </div>
                <div class="row-admin">
                    <div class="card">
                        <h5>Chức năng quản lý sản phẩm</h5>
                        <p>Thêm, sửa, xóa và quản lý sản phẩm trên trang web.</p>
                    </div>
                    <div class="card">
                        <h5>Chức năng quản lý đơn hàng</h5>
                        <p>Quản lý các đơn hàng của khách hàng, cập nhật trạng thái đơn hàng.</p>
                    </div>
                    <div class="card">
                        <h5>Chức năng quản lý danh mục</h5>
                        <p>Thêm, sửa, xóa và quản lý danh mục sản phẩm.</p>
                    </div>
                    <div class="card">
                        <h5>Chức năng quản lý doanh thu</h5>
                        <p>Theo dõi và báo cáo doanh thu hàng tháng, hàng năm.</p>
                    </div>
                    <div class="card">
                        <h5>Chức năng quản lý email liên hệ</h5>
                        <p>Quản lý các email liên hệ từ khách hàng, trả lời và hỗ trợ.</p>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
