﻿@model DoAnCoSoWeb.ViewModels.CartViewModels

<div class="panel panel-primary">
	<div class="panel-heading">Giỏ hàng của bạn</div>
	<div class="panel-body">
		@if (Model.chiTietGioHangs.Count > 0)
		{
			<table class="table table-bordered">
				<thead>
					<tr style="text-align:center;font-weight:bold">
						<td>Mã SP</td>
						<td>Tên SP</td>
						<td>Ảnh SP</td>
						<td>Số lượng</td>
						<td>Đơn giá</td>
						<td>Thành tiền</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.chiTietGioHangs)
					{
						<tr>
							<td style="text-align:center">@item.SanPhams.Id</td>
							<td>@item.SanPhams.TenSanPham</td>
							<td>
								<img src="~/image/@item.SanPhams.Image1" width="100" />
							</td>
							<td>
								<input type="text" class="txtQuantity" data-id="@item.SanPhams.Id" value="@item.Quantity" />
							</td>
							<td style="text-align:center">
								@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
																	"{0:c}", item.SanPhams.Gia)
							</td>
							<td style="text-align:center">
								@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),
																	"{0:c}", item.SanPhams.Gia * item.Quantity)
							</td>
							<td>
								<a href="#" data-id="@item.SanPhams.Id" class="btns-delete">Xoá</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<button id="btnContinue" class="btns-primary">Tiếp tục mua hàng</button>
			<button id="btnUpdate" class="btns-info">Cập nhật giỏ hàng</button>
			<button id="btnDeleteAll" class="btns-danger">Xoá giỏ hàng</button>
			<button id="btnPayment" class="btns-success">Thanh toán</button>
		}
		else
		{
			<div style="margin-top:10px;margin-bottom:10px;margin-left:auto; margin-right:auto">
				<span class="alert alert-danger">
					Bạn chưa có sản phẩm nào trong giỏ
					hàng
				</span>
			</div>
		}
	</div>
</div>
@section scripts {
	<script src="~/js/cart.js"></script>
}