﻿@model DoAnCoSoWeb.ViewModels.UserViewModels

<div class="form-group">
    <div class="modal">
        <div class="modal__overlayout"></div>
        <div class="modal__body">
            <div class="auth-frm">
                <div class="auth-frm__container">
                    <div class="auth-frm__header">
                        <h3 class="auth-frm__heading">Đăng ký</h3>
                        <div>
                            <a href="trang-chu" class="btn auth-frm__control-bck btn-normal">Trở lại</a>
                            <a href="dang-nhap"> <span class="auth-frm__switch-btn">Đăng nhập</span></a>
                        </div>
                    </div>

                    <form class="form form-horizontal" asp-action="Register" asp-controller="User" method="POST">
                        <div class="auth-frm__group">
                            <input type="text" class="auth-frm__in" name="Register.Username" placeholder="Tên đăng nhập">
                        </div>

                        <div class="auth-frm__group">
                            <input type="password" class="auth-frm__in" name="Register.MatKhau" placeholder="Mật khẩu" required
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
                            <span asp-validation-for="Register.MatKhau" class="text-danger"></span>
                        </div>

                        <div class="auth-frm__group">
                            <input type="password" class="auth-frm__in" name="Register.ConfirmPassword" placeholder="Xác nhận mật khẩu" required
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa."
                                   oninput="checkPasswordMatch(this);" />
                            <div id="passwordMatchMessage"></div>
                        </div>

                        <div class="auth-frm__control">
                            <button type="submit" class="btn btn--primary">Đăng ký</button>
                        </div>
                    </form>

                    <div class="auth-frm__otside">
                        <p class="auth-frm__policy">
                            <a href="" class="auth-frm__policy-link">Đièu khoản dịch vụ</a> & <a href="" class="auth-frm__policy-link">Chính sách bảo mật</a>
                        </p>
                    </div>
                </div>

               @*  <div class="auth-frm__social">
                    <a href="" class="auth-frm__social--face btn btn--size-s btn--with-icon"><i class="auth-frm__social-icon fa-brands fa-square-facebook"></i> <span class="auth-frm__social_label">Kết nối Facebook</span></a>
                    <a href="" class="auth-frm__social--google btn btn--size-s btn--with-icon"><i class="auth-frm__social-icon fa-brands fa-google"></i> <span class="auth-frm__social_label">Kết nối Google</span> </a>
                </div> *@
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function checkPasswordMatch(input) {
            var passwordInput = document.getElementById('password');
            var confirmPasswordInput = input;
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.setCustomValidity('Mật khẩu không khớp');
            } else {
                confirmPasswordInput.setCustomValidity('');
            }
        }
    </script>
}