﻿@* @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@
@* @await Html.PartialAsync("_ProductPartial") *@
@model DoAnCoSoWeb.ViewModels.HomeViewModels
@*
<div class="Home-product">
    <span class="Home-product-lab">Sắp xếp theo</span>
    <button class="Home-product_btn btn">Mua nhiều nhất</button>
    <button class="Home-product_btn btn">Mới nhất</button>
    <div class="select-in">
        <span class="select-in-lab">Giá</span>
        <i class="select-in_icon fas fa-angle-down"></i>
        <ul class="select-in_icon-list">
            <li class="select-in_icon-items">
                <a href="" class="select-in_icon-link">Giá : Thấp đến cao</a>
            </li>

            <li class="select-in_icon-items">
                <a href="" class="select-in_icon-link">Giá : Cao đến thấp</a>
            </li>
        </ul>
    </div>

    <div class="Home-product-pages">
        <span class="Home-product-pages_number">
            <span class="Home-product-pages-current">1</span>/14
        </span>

        <div class="Home-product-control">
            <a class="Home-product-pages-btn">
                <i class="fas fa-angle-left"></i>
            </a>
            <a class="Home-product-pages-btn">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="btn-option">
    <div class="btn_CRUD">
        <a href="them-san-pham" class="btn-new_create">Create New Product</a>
    </div>

    <div class="btn_CRUD">
        <a href=" danh-sach-san-pham" class="btn-new_create">List Product</a>
    </div>
</div>

<div class="product">
    <div class="grid_row">
        @foreach (var item in Model.sanphams)
        {
            <div class="grid_column-2_4">
                <div class="product-item">
                    <img width="100%" height="150px" src="~/image/@item.Image1" class="product-item_image">

                    <h4 class="product-item_name">@item.TenSanPham</h4>

                    <div class="product-item_price">
                        <span class="product-item_price-old">@string.Format("{0:N0}", (float)item.Gia * 1.5) VNĐ</span>
                        <span class="product-item_price-sale">@string.Format("{0:N0}", item.Gia) VNĐ</span>
                    </div>

                    <div class="product-item_action">
                        <span class="product-item_love product-item_like">
                            <i class="product-item_action-dislike fa-regular fa-heart"></i>
                            <i class="product-item_action-like fa-solid fa-heart"></i>
                        </span>

                        <a href="san-pham/@item.Id" class="btn-info">
                            <i class="btn-info-icon fa fa-rocket"></i> Chi tiết
                        </a>
                    </div>

                    <div class="product-item_saleoff">
                        <span class="product-item_sale-persents">10%</span>
                        <span class="product-item_sale-lab">GIẢM</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@<div class="section-main section-main--index">
	<div class="container">
		<div class="roww">

			<div class="col-lg-cus">
				<div class="main-menu mainMenujs setHeight">	</div>
			</div>
			<div class="col-lg block-slider">
				<div class="roww">
					<div class="col-lg-8 col-md-12 col-12  p-0 left-slider" id="left-slider">
						<div class="home-slider" id="home-slider">
							<div class="slider-owl owl-carousel owl-loaded owl-drag">
								<div class="owl-stage-outer">
									<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 747px;">
										<div class="owl-item active" style="width: 746.662px;">
											<div class="slider-item">
												<div class="slide--image">
													<a href="" title="">
														<picture>
															<source media="(max-width: 767px)" srcset="//theme.hstatic.net/1000288298/1001020793/14/slide_1_mb.jpg?v=434">
															<source media="(min-width: 768px)" srcset="//theme.hstatic.net/1000288298/1001020793/14/slide_1_img.jpg?v=434">
															<img src="//theme.hstatic.net/1000288298/1001020793/14/slide_1_img.jpg?v=434" width="747px" height="404px" alt="">
														</picture>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12 right-banner">
						<div id="group-banner-right">
							<div class="box-banner effect-shine">
								<a href="https://ttgshop.vn/collections/man-hinh-may-tinh" aria-label="màn hình gaming">
									<picture>
										<img class=" ls-is-cached lazyloaded" data-src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_1_img_large.jpg?v=434" width="343px" height="129px" alt="màn hình gaming" src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_1_img_large.jpg?v=434">
									</picture>
								</a>
							</div>
							<div class="box-banner effect-shine">
								<a href="https://ttgshop.vn/collections/anker-1/" aria-label="phụ kiện anker">
									<picture>
										<img class=" ls-is-cached lazyloaded" data-src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_2_img_large.jpg?v=434" width="343px" height="129px" alt="phụ kiện anker" src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_2_img_large.jpg?v=434">
									</picture>
								</a>
							</div>
							<div class="box-banner effect-shine">
								<a href="https://ttgshop.vn/collections/card-hoa-moi" aria-label="card màn hình">
									<picture>
										<img class=" ls-is-cached lazyloaded" data-src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_3_img_large.jpg?v=434" width="343px" height="129px" alt="card màn hình" src="//theme.hstatic.net/1000288298/1001020793/14/banner_top_3_img_large.jpg?v=434">
									</picture>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<main class="wrapperMain_content">
	<section class="home-category">
		<div class="container">
			<div class="list-item">
				<div class="category-item col-lg col-md-6 col-6">
					<div class="category-item--inner">
						<div class="category-item--image">
							<a href="http://ttgshop.vn/pages/workstation" aria-label="">
								<img class=" ls-is-cached lazyloaded" width="320px" height="128px" data-src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_1_img.jpg?v=434" src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_1_img.jpg?v=434" alt="">
							</a>
						</div>
						<div class="category-item--title">
						</div>
					</div>
				</div>
				<div class="category-item col-lg col-md-6 col-6">
					<div class="category-item--inner">
						<div class="category-item--image">
							<a href="https://ttgshop.vn/pages/tu-van-build-pc-ttgshop" aria-label="">
								<img class=" ls-is-cached lazyloaded" width="320px" height="128px" data-src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_2_img.jpg?v=434" src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_2_img.jpg?v=434" alt="">
							</a>
						</div>
						<div class="category-item--title">
						</div>
					</div>
				</div>
				<div class="category-item col-lg col-md-6 col-6">
					<div class="category-item--inner">
						<div class="category-item--image">
							<a href="https://ttgshop.vn/collections/gaming-gear" aria-label="">
								<img class=" ls-is-cached lazyloaded" width="320px" height="128px" data-src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_3_img.jpg?v=434" src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_3_img.jpg?v=434" alt="">
							</a>
						</div>
						<div class="category-item--title">
						</div>
					</div>
				</div>
				<div class="category-item col-lg col-md-6 col-6">
					<div class="category-item--inner">
						<div class="category-item--image">
							<a href="https://ttgshop.vn/collections/garnach/" aria-label="">
								<img class=" ls-is-cached lazyloaded" width="320px" height="128px" data-src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_4_img.jpg?v=434" src="//theme.hstatic.net/1000288298/1001020793/14/categorybanner_4_img.jpg?v=434" alt="">
							</a>
						</div>
						<div class="category-item--title">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="KM-home">
		<div class="container-KM-home">
			<div class="content-KM-home">
				<div class="box-listproduct">
					<div class="section-header-KM-home">
						<h2 class="HTitle-KM-home">
							<a style="color:white"> 🔥 KHUYẾN MẠI HOT NHẤT 🔥</a>
						</h2>
					</div>
					<div class="ListPro-KM-home">
						 @* @foreach (var item in Model.sale)
						{
							<div class="product-km">
								<div class="inner-product">
									<div class="imagge-product">
										 <img src="@Html.DisplayFor(modelItem=>item.ImageUrl)" width="250px" height="270px" alt="@item.Name"> 
									</div>
									<div class="detail-product">
										<h4>@item.Name</h4>
										<p>Giá: @string.Format("{0:NO}",item.GiaSale)VND</p>
										<form asp-action="AddItem" asp-controller="CartController" method="post">
											<input type="hidden" name="productId" value="@item.Id"/>
											<p>Số Lượng:</p>
											<input style="text-align:center" type="number" name="quantity" value="1" />
											<button class="btn additem">
												<span class="btnadd">Thêm Vào Giỏ</span>
												<span class="btnicon" title="Thêm Vào Giỏ"></span> 
											</button>
										</form>
									</div>
								</div>
							</div>
						} 
					 </div>
					 <div class="panel-footer text-center">
						<ul class="pagination pagination-centered">
							@for (int i = 1; i <= Model.pagingInfo.TotalPages; i++)
							{
								<li class="@(i == Model.pagingInfo.CurrentPage ? "active" : "")">
									<a href="@Url.Action("Index", new { page = i })">@i</a>
								</li>
							}
						</ul>
					</div>  *@
				</div> 
				<div class="boxlink">
					<a href="#" class="button">

					</a>
				</div>
			</div>
	</section>
	<section class="best-seller-home">
		<div class="container-bestseller">
			<div class="content-bestsell">
				<div class="box-listproduct">
					<div class="section-header-bestsell">
						<h2 class="HTitle-KM-home">
							<a style="color:white"> ⚡️ BÁN CHẠY NHẤT ⚡️</a>
						</h2>
					</div>
					<div class="list-product-row">
						<div class="owl-stage">
							@foreach (var item in Model.sanphams)
							{
								<div class="grid_column-2_4">
									<div class="product-item">
										<img width="100%" height="150px" src="~/image/@item.Image1" class="product-item_image">

										<h4 class="product-item_name">@item.TenSanPham</h4>

										<div class="product-item_price">
											<span class="product-item_price-old">@string.Format("{0:N0}", (float)item.Gia * 1.5) VNĐ</span>
											<span class="product-item_price-sale">@string.Format("{0:N0}", item.Gia) VNĐ</span>
										</div>

										<div class="product-item_action">
											<span class="product-item_love product-item_like">
												<i class="product-item_action-dislike fa-regular fa-heart"></i>
												<i class="product-item_action-like fa-solid fa-heart"></i>
											</span>

											<a href="san-pham/@item.Id" class="btn-info">
												<i class="btn-info-icon fa fa-rocket"></i> Chi tiết
											</a>
										</div>

										<div class="product-item_sl"><span class="product-item_sl-name">Đã bán @Model.soldQuantities.GetValueOrDefault(item.Id, 0)</span></div>

										<div class="product-item_saleoff">
											<span class="product-item_sale-persents">10%</span>
											<span class="product-item_sale-lab">GIẢM</span>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>