﻿@model DoAnCoSoWeb.ViewModels.HomeViewModels

@foreach (var item in Model.sanphams)
{
	<div class="row">
		<div class="col-md-6_main">
			<div class="row">
				<div class="col-md-12 text-center">
					<img width="240px" height="80px" id="mainImage" src="~/image/@item.Image1" alt="Main Image" class="img-responsive main-image">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 ">
					<img width="120px" height="50px" src="~/image/@item.Image2" alt="Thumbnail 1"
						 class="img-responsive thumbnail" onclick="changeImage(this)">
				</div>
				<div class="col-md-6">
					<img width="120px" height="50px" src="~/image/@item.Image3" alt="Thumbnail 2"
						 class="img-responsive thumbnail" onclick="changeImage(this)">
				</div>
			</div>
		</div>
		<div class="col-md-6_content">
			<h2>@item.TenSanPham</h2>
			<h4>Giá gốc: <strike style="color:red;">@string.Format("{0:N0}", (float)item.Gia * 1.5) VNĐ</strike></h4>
			<h4>
				Giá giảm sốc: <i style="font-weight: bold; color:green;">@string.Format("{0:N0}", (float)item.Gia) VNĐ</i>
			</h4>

			<h4>Các lựa chọn hiện có :</h4>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-md-4 control-label">Kích cỡ:</label>
					<div class="col-md-8">
						<select class="form-control">
							<option>L</option>
							<option>XL</option>
							<option>S</option>
							<option>M</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Màu:</label>
					<div class="col-md-8">
						<select class="form-control">
							<option>Đỏ</option>
							<option>Cam</option>
							<option>Vàng</option>
							<option>Xanh lá</option>
							<option>Xanh dương</option>
							<option>Hồng</option>
							<option>Tím</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-4 col-md-8">
						@* <a class="btn btn-danger" href="/them-gio-hang?ProductId=@item.Id&Quantity=1">
							<i class="fa fa-spin fa-spinner"></i> Mua ngay
						</a> *@
						<a class="btn btn-danger btn-buy-now" href="/them-gio-hang?ProductId=@item.Id&Quantity=1">
							<i class="fa fa-spin fa-spinner"></i> Mua ngay
						</a>

					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<h4 class="titile_info">Thông tin sản phẩm : </h4>
		<p style="text-align: justify" class="mo-ta">
			@Html.Raw(item.Mota)
		</p>
	</div>

	<h2>Bình Luận</h2>
	<div class="product_comment">
		<div class="product_comment-list">

		</div>
	</div>

	<script>
		$('.btn-buy-now').click(function (e) {
			e.preventDefault();
			$.ajax({
				url: '/Home/IsLoggedIn',
				type: 'GET',
				success: function (res) {
					if (res.status == true) {
						window.location.href = "/them-gio-hang?ProductId=@item.Id&Quantity=1";
					} else {
						swal({
							title: "Thông báo",
							text: "Vui lòng đăng nhập để tiếp tục",
							icon: "warning",
							button: "Đồng ý",
						}).then(function () {
							window.location.href = "/dang-nhap";
						});
					}
				}
			});
		});
	</script>
}
@section scripts {
	<script>
		function changeImage(img) {
			var mainImage = document.getElementById('mainImage');
			var tempSrc = mainImage.src;
			mainImage.src = img.src;
			img.src = tempSrc;
		}
	</script>

	
	
}